zadanie1/.gradle/
zadanie1/build/
zadanie3/notatki.txt
zadanie2/
zadanie2/.g8
.metals/
.vscode/
zadanie7/react/
zadanie7/scala/
zadanie7/.vscode/
zadanie7/.metals/
zadanie8/react/log/
zadanie8/react/node_modules
